<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loggy Core - Web UI</title>

        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="-1">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/TweenMax.js') }}"></script>


    </head>

    <body>
        <div class="controls window">
            <div class="window-header">
                Loggy Core Controls
            </div>
            <div class="content">
                <div class="controls">


                    <a href="process/image_processor">
                        <button>Start System Core</button>
                    </a>
                    <br>
                    <br>

<!--                     <a href="process/count_things">
                        <button>Start Count Things</button>
                    </a>
                    <br>
                    <br> -->


                    <a href="process/virtual_ftp_image_drop">
                        <button>Virtual FTP Image Drop</button>
                    </a>
                    <br>
                    <br>

<!--                     <a href="process/grab_processor">
                        <button>Start Grab Processor</button>
                    </a>
                    <br>
                    <br> -->

                    <a href="process/clean_folder_image_drop">
                        <button>Clean Folder = Image Drop</button>
                    </a>
                    <br>
                    <br>

                    <a href="process/clean_folders_count_output">
                        <button>Clean Folders = Count Output</button>
                    </a>
                    <br>
                    <br>
                    
                    <a href="process/clean_folders_count_processing">
                        <button>Clean Folder = Count Processing</button>
                    </a>
                    <br>
                    <br>

                    <a href="process/clean_db">
                        <button>Dump & Create Logistics Database</button>
                    </a>
                    <br>
                    <br>

                    <a href="process/test_db">
                        <button>Test Database</button>
                    </a>
                    <br>
                    <br>
                       

                    <a href="process/clean_accounts_db">
                        <button>Dump & Create Accounts Database</button>
                    </a>
                    <br>
                    <br>

                    
                    <a href="logout">
                        <button>Logout</button>
                    </a>
                    <br>
                    <br>
                    
                </div>
                
    
                <div class="output">
                    Data Output: <br />
                    {{ data_output }}
                </div>
            </div>
            
        </div>
    </body>

</html>